.Dot-Red
{color:#fff;background-color:#a60117}

.Dot-Green
{color:#fff;background-color:#004d33}

.Dot-Blue
{color:#fff;background-color:#004472}

.Dot-Brown
{color:#fff;background-color:#633517}

.Dot-Yellow
{color:#fff;background-color:#f8a300}

.Dot-Red
{color:#fff;background-color:#e06000}